<!-- <div >
  <p *ngFor="let item of arr | keyvalue; let i = index">{{item.key}}</p>
</div> -->
<form [formGroup]="userForm">
    <div class="offset-1 col-10">
      <div class="form-group">
        <label for="type">User Type</label>
        <select class="form-control" id="type" formControlName="type">
          <option disabled value="null">Choose</option>
          <option *ngFor="let userType of userTypes">{{userType}}</option>
          <small *ngIf="isControlInvalid('type')">Warning type !</small>
        </select>
      </div>

      <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control" type="text" id="name" formControlName="name">
          <small *ngIf="isControlInvalid('name')">Warning Name ! {{userForm.get('name').getError('nameError')}}</small>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email" formControlName="email">
        <small *ngIf="isControlInvalid('email')">Warning Email !</small>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" formControlName="password">
        <small *ngIf="isControlInvalid('password')">{{userForm.get('password').getError('invalidPassword')}}</small>
      </div>

      <div class="form-group">
        <button (click)="onSubmit()" class="btn btn-primary">Send</button>    
      </div>

    </div>
</form>

<div class="offset-1">
    {{userForm.value | json}}
</div>