<form [formGroup]="myForm">
    <div class="form-group offset-1 col-10">
        <label for="name">Name</label>
        <input class="form-control" type="text" id="name" formControlName="name">
        <small *ngIf="isControlInvalid('name')">Warning !</small>
        <br> 
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email" formControlName="email">
        <small *ngIf="isControlInvalid('email')">Warning !</small>
        <br>
        <button (click)="onSubmit()" class="btn btn-primary">Send</button>    
    </div>
</form>

<div class="offset-1">
    {{myForm.value | json}}
</div>